node_modules
# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
/build/
/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IDE specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
/android/local.properties
/android/key.properties
/android/.gradle/
/android/app/src/main/assets/flutter_assets/
/android/gradlew
/android/gradlew.bat

# iOS
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/.symlinks/